<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 07.10.2023, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post. I am very happy to see it at my blog! Cool! If you want to see more, stay tuned!</p>
        </article>

        <article>
            <time>published: 07.10.2023, 12:45</time>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </article>
    </body>
</html>